body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("{% static 'blog/images/img1.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
}



header {
    background-color: rgba(51, 51, 51, 0.8); /* Slight transparency */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8); /* Contrast for readability */
    border-radius: 8px;
}

h1 {
    color: #444;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 1rem 0;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 1rem;
}

button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #004d99;
}
